<br><br><br><br>

<h1>Friendlists</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>NAME</th>
    
    </tr>
  </thead>

  <tbody>
    <% @friendlists.each do |friendlist| %>
      <tr>
        <td><%=friendlist.name%></td>
        <td><%= link_to 'Show', friendlist,class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_friendlist_path(friendlist),class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', friendlist, method: :delete, data: { confirm: 'Are you sure?'},class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Add Friends', user_table_path,class: "btn btn-primary"%>
